* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    background-color: rgb(226, 226, 226, 0.7);
    height: 3rem;
    padding: 1rem;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 600;
    color: rgb(77, 77, 77);
    box-shadow: 5px 2px 10px 1px black;
    user-select: none;
}

.navbar li {
    transition: .2s;
    cursor: pointer;
}

.navbar li:nth-child(1) {
    font-weight: 700;
    color: black;
}

.navbar li:hover {
    transform: scale(1.08);
}

.home {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.home img {
    width: 100vw;
    height: 100vh;
    box-shadow: 5px 2px 7px 4px gray;
    border-radius: 5px;
}

.title-image {
    position: relative;
    padding: 1rem 0;
}

.home-title {
    display: flex;
    position: absolute;
    top: 25%;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    backdrop-filter: blur(5px);
}

.intro-para {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.intro-para p:nth-child(1) {
    font-size: 1.5rem;
}

.intro-para p:nth-child(2) {
    font-size: 2rem;
    width: 70%;
    font-weight: 600;
}

.menu {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 22rem);
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    justify-content: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 10px;
}

.menu-item p{
    width: 90%;
    font-weight: 600;
    color: rgb(221, 221, 221);
}

.menu-item img{
    width: 14rem;
    height: 14rem;
    border-radius: 10px;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 5px -2px 7px 5px gray;
}

.footer a {
    color: white;
    text-decoration: none;
}